.card-header .fa {
    transition: .3s transform ease-in-out;
}

.collapsed .fa {
    transform: rotate(-90deg);
}

.expandable-header {
    vertical-align: middle;
}

.custom-control label {
    font-size: 100%;
    font-weight: bolder;
}

.custom-control-label:hover {
    cursor: pointer;
}

.card-header a {
    font-size: 0.8em;
}

.card-header {
    font: bold 100% 'gothic regular', arial;
    letter-spacing: 0.1em;
}

.card-body {
    color: #c9d4dc;
}

#accordion a {
    text-decoration: none;
}

.dropdown-menu {
    font-size: 1.1em;
}

.content .card {
    border: 1px solid #1a1a1a;
}

.content .card:hover {
    border: 2px solid #1a1a1a;
    height: 470px;
    box-shadow: 1px 1px 20px 10px #343a40;
}

.card:hover img {
    padding: 0;
}

.content img {
    padding: 2%;
    width: 100%;
    height: 275px;
}

.content .card-title {
    color: #1a1a1a;
}

.content p {
    font-size: 1em;
    color: #171a1d;
}

.module p {
    margin: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .content img {
        height: 175px;
    }

    .content .card:hover {
        height: 376px;
    }
}

@media (max-width: 991px) {
    .content img {
        padding: 0;
        width: 100%;
    }
}
